<% for(let i = 0 ; i < items.length ; i++){ %>

    <% let video_link = "/videopage?v=" + items[i].id + "&c=" + items[i].snippet.channelId %>
    <% let channel_link = "/channelpage?c=" + items[i].snippet.channelId %>

<%    let views = (items[i].statistics.viewCount/1000000).toFixed(1);%>
<%    if(views > 10) views = Math.trunc(views);%>
<%    if(views > 1) views = views + 'M';%>
<%    if(views <= 1) views = (items[i].statistics.viewCount/1000).toFixed(1) + 'K';%>

        <%if(i === items.length-1){%>
            <div class= "vid-list">
                <a href= <%=video_link%>> <img src="<%=items[i].snippet.thumbnails.medium.url%>" loading="lazy" class="thumbnail"> </a>
                            <div class="flex-div">
                             <a href=<%=channel_link%>><img src="<%=items[i].channelinfo.snippet.thumbnails.medium.url%>" alt="" srcset=""></a> 
                                <div class="vid-info">
                                    <a hx-get = "/otherlikedpage?token=<%=nextpagetoken%>"
                                        hx-trigger = "intersect once"
                                        hx-target = "#video-container-home"
                                        hx-swap = "beforeend"
                                        href=<%=video_link%>><%=items[i].snippet.title%></a>
                                   <a href=<%=channel_link%> > <p><%=items[i].snippet.channelTitle%></p></a>
                                    
                                    <p> <%=views%> Views &bull; 2 days</p>
                                </div>
                            </div>
            </div>
        <%}%>
        <% if(i !== items.length-1){  %>
            <div class= "vid-list">
                <a href=<%=video_link%>> <img src="<%=items[i].snippet.thumbnails.medium.url%> " loading="lazy" class="thumbnail"> </a>
                            <div class="flex-div">
                             <a href=<%=channel_link%>><img src="<%=items[i].channelinfo.snippet.thumbnails.medium.url%>"></a> 
                                <div class="vid-info">
                                    <a href=<%=video_link%>><%=items[i].snippet.title%></a>
                                   <a href=<%=channel_link%>> <p><%=items[i].snippet.channelTitle%></p></a>
                                    
                                    <p> <%=views%> Views &bull; 2 days</p>
                                </div>
                            </div>
            </div>
       <% } %>

    <%}%>


