<link rel="stylesheet" href="./partials/css/videopage.css">
<script src="./js/htmx.js"></script>

<div id="videopage" class="container play-container">

    <div class="row">
        <div class="video-player">
            <div class="player">
                <iframe src="https://www.youtube.com/embed/<%=video.id%>?rel=0&autoplay=1" frameborder="0" allowfullscreen autoplay></iframe>
            </div>

            <h3 class="video-title"><%=video.snippet.title%></h3>

            <div class="video-info">

                <%  let d1 = new Date(video.snippet.publishedAt);%>
                <%  let d2 = new Date();%>
                <%  let date = Math.abs(d2-d1);%>
                <%  let time = 0;%>
                <%  date = date/(1000*60); time = Math.trunc(date) +" mins" %>
                <%  if(date >= 60){ date = date/60; time = Math.trunc(date) + " hours";%>
                <%  if(date >= 24){ date = date/24; time = Math.trunc(date) + " days"%>
                <%  if(date >= 31){ date = date/30.4167; time = Math.trunc(date) + " months"%>
                <%  if(date >= 12){ date = date/12; time = Math.trunc(date) + " years"}%>
                <%  }}}%>
    
                <%  let viewss = 0;%>
                <%  let views = video.statistics.viewCount; viewss = views%>
                <%  if(views >= 1000){views = views/1000; viewss = Math.trunc(views) + 'K'}%>
                <%  if(views >= 1000){views = views/1000; viewss = Math.trunc(views) + 'M'}%>
                <%  if(views >= 1000){views = views/1000; viewss = Math.trunc(views) + 'B'}%>

                <%  let  likess = 0;%>
                <%  let likes = video.statistics.likeCount;  likess = likes%>
                <%  if(likes >= 1000){likes = Math.trunc(likes/1000); likess = likes + 'K'}%>
                <%  if(likes >= 1000){likes = Math.trunc(likes/1000); likess = likes + 'M'}%>
                <%  if(likes >= 1000){likes = Math.trunc(likes/1000); likess = likes + 'B'}%>


                <p class="views"><%=viewss%> Views &bull; <%=time%> ago</p>
                <div class="buttons" id="buttons">

                    <% if(rating.data.items[0].rating === "like"){ %>

                        <a id="like" class="rating" hx-get="/like?value=false&videoId=<%=video.id%>&likes=<%=video.statistics.likeCount%>" hx-target="#buttons" hx-swap="outerHTML" >
                            <img src="./images/liked.png">

                    <%}else{%>

                        <a id="like" class="rating" hx-get="/like?value=true&videoId=<%=video.id%>&likes=<%=video.statistics.likeCount%>" hx-target="#buttons" hx-swap="outerHTML" >
                            <img src="./images/like.png">

                    <%}%>

                        <%=likess%>
                    </a>
                    
                    
                    <% if(rating.data.items[0].rating === "dislike"){ %>
                        <a  id="dislike" class="rating" hx-get="/like/dislike?value=false&videoId=<%=video.id%>&likes=<%=video.statistics.likeCount%>" hx-target="#buttons" hx-swap="outerHTML" >
                            <img src="./images/disliked.png">
                    <%}else{%>
                        <a  id="dislike" class="rating" hx-get="/like/dislike?value=true&videoId=<%=video.id%>&likes=<%=video.statistics.likeCount%>" hx-target="#buttons" hx-swap="outerHTML" >
                            <img src="./images/dislike.png">
                    <%}%>
                    
                        </a>
                    
                    <a id="share" style="cursor: pointer;" onclick="copyFunction()"><img src="./images/share.png">Share</a>
                    <a id="save" style="cursor: pointer;" hx-get="/videopage/download?link=<%=video.id%>&title='<%=video.snippet.title%>.mp4'" hx-swap="outerHTML">
                        <img src="./images/download.png">Download</a>

                </div>
            </div>
            <hr>


                <%  let subscriberss = 0;%>
                <%  let subscribers = channel.statistics.subscriberCount; subscriberss = subscribers;%>
                <%  if(subscribers >= 1000){subscribers = subscribers/1000; subscriberss = Math.trunc(subscribers) + 'K'}%>
                <%  if(subscribers >= 1000){subscribers = subscribers/1000; subscriberss = Math.trunc(subscribers) + 'M'}%>
                <%  if(subscribers >= 1000){subscribers = subscribers/1000; subscriberss = Math.trunc(subscribers) + 'B'}%>

            <div class="channelinfo">
            <a href="/channelpage?c=<%=channel.id%>">    <img src="<%=channel.snippet.thumbnails.medium.url%>" alt=""> </a>

                <div class="channel-details">
                 <a href="/channelpage?c=<%=channel.id%>"><p><%=channel.snippet.title%></p> </a>
                    <span><%=subscriberss%> Subscribers</span>
                </div>
                <%if(isSubscribed > 0){%>
                <button 
                        hx-get = "/subscribe?subid=<%=sub_id%>&value=false&c=<%=channel.id%>"
                        hx-swap = "outerHTML"
                        type="button" id="subscribed">Subscribed
                </button>
                <%}else{%>
                    <button  hx-get = "/subscribe?c=<%=channel.id%>&value=true"
                            hx-swap = "outerHTML"
                             type="button">Subscribe
                    </button> 
                <%}%>

            </div>

            <div class="vid-description">
                <%if(video.snippet.description){%>
                <p class="desc"><%=video.snippet.description%></p>
                <hr>
                <%}%>

              <h4><%=video.statistics.commentCount %> Comments</h4>

              <form action="/videopage" method="post" class="add-comment">
                <img src=<%=profile.photos[0].value%>>
                <input type="text" name="commenttoadd" id="commenttoadd" placeholder="Write comments...">
              </form>

        <div class="comments">



        <% for(let i = 0 ; i < comments.length ; i++){ %>

       <%  let d1 = new Date(comments[i].snippet.topLevelComment.snippet.publishedAt);%>
       <%  let d2 = new Date();%>
       <%  let date = Math.abs(d2-d1);%>
       <%  let time = 0;%>
       <%  date = date/(1000*60); time = Math.trunc(date) +" mins" %>
       <%  if(date >= 60){ date = date/60; time = Math.trunc(date) + " hours";%>
       <%  if(date >= 24){ date = date/24; time = Math.trunc(date) + " days"%>
       <%  if(date >= 31){ date = date/30.4167; time = Math.trunc(date) + " months"%>
       <%  if(date >= 12){ date = date/12; time = Math.trunc(date) + " years"}%>
       <%  }}}%>

        <% let authorImage = comments[i].snippet.topLevelComment.snippet.authorProfileImageUrl %>
        <% let authorName =  comments[i].snippet.topLevelComment.snippet.authorDisplayName%>
        <% let authorChannel = "/channelpage?c=" + comments[i].snippet.topLevelComment.snippet.authorChannelId.value%>

        <% let comment = comments[i].snippet.topLevelComment.snippet.textOriginal%>
        <% let likes = comments[i].snippet.topLevelComment.snippet.likeCount%>

            <div class="commentsection">
              <a href=<%=authorChannel%>>  <img src="<%=authorImage%>" loading="lazy"> </a>
                <div class="person-details">
                    <a href=<%=authorChannel%>> <h3><%=authorName%> <span><%=time%> ago</span></h3> </a>
                    <p class="person-comment"> <%=comment%></p>

                    <div class="comment-actions">
                        <img src="./images/like.png" loading="lazy">
                        <span><%=likes%></span>
                        <img src="./images/dislike.png" loading="lazy">
                    </div>

                </div>

            </div>

        <%}%>

        </div>
        </div>
        </div>

        <div class="right-sidebar">

            <% for(let i = 0 ; i < relatedvideos.items.length ; i++){ %>

                <%  let d1 = new Date(relatedvideos.items[i].snippet.publishedAt);%>
                <%  let d2 = new Date();%>
                <%  let date = Math.abs(d2-d1);%>
                <%  let time = 0;%>
                <%  date = date/(1000*60); time = Math.trunc(date) +" mins" %>
                <%  if(date >= 60){ date = date/60; time = Math.trunc(date) + " hours";%>
                <%  if(date >= 24){ date = date/24; time = Math.trunc(date) + " days"%>
                <%  if(date >= 31){ date = date/30.4167; time = Math.trunc(date) + " months"%>
                <%  if(date >= 12){ date = date/12; time = Math.trunc(date) + " years"}%>
                <%  }}}%>

                <% let link = '/videopage?v=' +  relatedvideos.items[i].id.videoId  + '&c=' +  relatedvideos.items[i].snippet.channelId  %>
                <% let thumbnail = relatedvideos.items[i].snippet.thumbnails.medium.url %>
                <% let videoTitle = relatedvideos.items[i].snippet.title %>
                <% let channelTitle = relatedvideos.items[i].snippet.channelTitle %>

            <div class="side-video-list">
                <a href=<%=link%> class="small-thumbnail"> <img src="<%=thumbnail%>" loading="lazy" alt="."> </a>
                <div class="vid-info">
                    <a href=<%=link%> class="title"><%=videoTitle%></a>
                    <p class="channel"><a href="/channelpage?c=<%=relatedvideos.items[i].snippet.channelId%>"><%=channelTitle%></a></p>
                    <p class="views"><%=time%> ago</p>
                </div>
            </div>

            <%}%>

        </div>

    </div>

</div>

<script>

   let sidebar = document.querySelector('.sidebar');

   document.addEventListener("DOMContentLoaded",()=>{
    sidebar.classList.toggle('small-sidebar');
   })

   let menuIcon = document.querySelector('.menu-icon');

    menuIcon.addEventListener('click',()=>{
        sidebar.classList.toggle('small-sidebar');
    });

    let desc = document.querySelector('.desc');

    desc.addEventListener('click',()=>{
        desc.classList.toggle('longdesc')
    })

  function copyFunction() {
  var copyText = "https://www.youtube.com/watch?v=<%=video.id%>";

  navigator.clipboard.writeText(copyText);

  alert("Copied the text: " + copyText);
}

 let downloadbtn = document.querySelector('#save');
 downloadbtn.addEventListener('click',()=>{
        downloadbtn.innerHTML = "Downloading";
        let count = 0;
        setInterval(()=>{
            if(count > 3){
                count = 0;
                downloadbtn.innerHTML = "Downloading";
            }
            else{
            downloadbtn.innerHTML = downloadbtn.innerHTML +'.';
            count = count + 1;
            }
            
        },500);
       downloadbtn.style.minWidth = '10rem'
 })

</script>
